*
!.gitignore
!.devcontainer
!c
!c/lib
!c/Makefile
!c/.clang-format
!c/**/*.c
!c/**/*.h
!cpp
!cpp/lib
!cpp/Makefile
!cpp/.clang-format
!cpp/**/*.c
!cpp/**/*.cpp
!cpp/**/*.h
!in
!in/*.in
!rust
!rust/**/*
